body {
    margin: 0;
    background-color: #1c2128;
    color: #ccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.left {
    float: left;
}

.right {
    float: right;
}
.clearfix {
    clear: both;
}

.searchField {
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0;
    
}

.searchField button,
div.toSofia button {
    background-color: rgb(48, 162, 48);
    color: #ccc;
    font-weight: bold;
    height: 30px;
    padding: 0px 20px;
    border-radius: 10px;
    margin: 0 0 0 -3px;
}

div.toSofia button {
    display: block;
    padding: 2px 30px;
    margin: 20px auto;
}

.headerDiv,
footer {
    background-color: #22272e;
    width: 100%;
    padding: 0;
}

footer {
    position: fixed;
    bottom: 0;
}

.headerDiv {
    display: flex;
    justify-content: center;
}

.main-section {
    width: 100%;
    max-width: 365px;
    margin: 0px auto 100px;
    padding: 0 2px;

}

.main-weather {
    background-color: #22272e;
    width: 100%;
    max-width: 365px;
    height: auto;
    border: 1px solid #444c56;
    border-radius: 10px;
}

.search-input {
    background-color: #ccc;
    border-radius: 10px;
    padding-left: 20px;
    height: 30px;
    line-height: 18px;
}

.weatherBlock {
    width: 100%;
    max-width: 365px;
    height: 170px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.infoBlock {
    /* width: 100px; */
    /* height: 150px; */
    /* align-self: center; */
    /* border: 1px solid gray; */
}

.imageP{
    display: flex;
    justify-content: center;
    margin: 0 0 10px 0;
}
.condition {
    margin: -15px 0 0;
    text-align: center;
}

.infoText {
    font-size: 10px;
}

.conditionText {
    font-size: 18px;
}

.location-info {
    /* width: 100%; */
    /* max-width: 365px; */
    text-align: center;
    font-size: 25px;
}

.small-text {
    font-size: 80%;
    color: #959191;
}

.detailsBlock {
    width: 100%;
    max-width: 365px;
    margin: 20px 0 0;
    border-top: 1px solid #444c56;
    border-bottom: 1px solid #444c56;
    border-radius: 10px;
    font-size: 70%;
}

.table {
    width: 100%;
    max-width: 365px;
    border-spacing: 10px;
}

.table td {
    width: 50%;
    padding: 10px 0px 0px;
    border-bottom: 1px solid #73777b29;
}

.forecastBlock {
    width: 300px;
    height: 90px;
    display: inline-flex;
    justify-content: space-evenly;
    /* display: block; */
    margin: 20px 0 0;
    /* border: 1px solid gray; */
    /* border-radius: 10px; */
}
.forecastHeader{
    margin: 20px 0 0;
}

.forecast {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 80px;
    height: 80px;
    /* border: 1px solid #444c56; */
}
.forecast-label {
    font-size: 14px;
    margin: -10px 0 0 0;
}
.forecast-date{
    font-weight: bold;
}
/* .temp {
    margin: 50px 0 0 0px;
} */

.image-detail {
    margin: 0 0px 0 0;
}

.current-temp {
    font-size: 72px;
}

.temp-sign {
    font-size: 30px;
    position: absolute;
    margin: 10px 0 0 5px;
}
.day-temps {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;

}

.warning{
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.hours {
    width: 365px;
    display: inline-flex;
    justify-content:flex-start;
    overflow-x: scroll;
    margin: 20px 0 10px 0;
}
.hour {
    padding: 10px 10px;
}
.hour .condition {
    margin: 10px 0;
    height: 30px;
    font-size: 10px;
}
.hour .time{
    font-size: 18px;
    height: 30px;
    margin: 10px 0;

}